# example configuration for client program.
# This configuration file is in YAML format (http://yaml.org).
# It defines a game of two HeuristicAgent players.
#
!!orst.stratagusai.config.Config
#goal: !!orst.stratagusai.NeverDoneGoal {}
mapPaths: [../../maps/5v5_PvP_36x36.smp]
agentConfigs:
- !!orst.stratagusai.config.ControllerConfig
  controllerClassName: orst.stratagusai.HeuristicAgent
- !!orst.stratagusai.config.ControllerConfig
  controllerClassName: orst.stratagusai.HeuristicAgent
